/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

h1,
h2 {
    color: #343a40;
}


#hamburguer {
    position: fixed;
    right: 5rem;
    top: 2rem;
    height: 3rem;
    width: 3rem;
}

#hamburguer .linha {
    margin-top: 1rem;
    padding: auto;
    height: 1rem;
    width: 150%;
    background-color: #000;
    box-shadow: 0 .5rem .5rem #333;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #adb7c2;
    height: 100vh;
    width: 15rem;
    z-index: 10;
    right: -20rem;
    transition: right 1s;
}

.menu-show {
    right: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
}

nav a:hover {
    color:#fff;
    
}
nav ul{padding-top: 50vh;}


header {
    background: #adb7c2;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

 

 
.icon-github {
    color: #333;
}

.icon-database {
    color: #00758F;
}

.icon-java {
    color: #5382a1;
}

.icon-js {
    color: #f7df1e;
}

.icon-html5 {
    color: #e34c26;
}

.icon-css3 {
    color: #1572b6;
}
.icon-youtube {
    color: #ff0000;  
}

 
 

#fotoEContato img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#contatos a {
    margin: 5px;
    text-decoration: none;
}

#secao-apresentacao ul,
#secao-apresentacao p {
    margin: 10px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    background: #343a40;
    color: white;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1.2em;
    }

    #fotoEContato {
        text-align: center;
    }

    #contatos a {
        display: block;
        margin: 10px 0;
    }
}

.card-img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem 0.25rem 0 0;
}
.card-img-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.card-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}